@model IEnumerable<EducationPortalUI.Models.Education>
 
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewData["Title"] = "Katılınan Eğitimler";
}

<div class="row">
    @foreach (var education in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                @education.Title
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Fiyat : ₺@education.Price</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Süre (Saat): @education.Duration</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Kapasite: @education.Capacity Kişi</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Kategori: @education.CategoryName</div>
                        </div>

                        <div class="col-auto">
                            <button data-id="@education.ID" class="btn btn-danger joinButton">Geri Çekil</button>
                            <button data-id="@education.ID" class="btn btn-primary viewAll">İçeriği Gör</button>
                            <button data-id="@education.ID" class="btn btn-primary completed">Tamamla</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.completed, .joinButton').on('click', function () {
                var accessToken = localStorage.getItem('accessToken');
                var userId = localStorage.getItem('userId');
                var educationId = $(this).data('id'); 
                var requestData = {
                    userId: userId,
                    educationId: educationId
                };
                $.ajax({
                    url: 'https://localhost:7145/api/Participation/delete',
                    type: 'POST',
                    headers: {
                        'Authorization': 'Bearer ' + accessToken
                    },
                    contentType: 'application/json',
                    data: JSON.stringify(requestData),  
                    success: function (response) {
                        window.location.reload();
                        console.log('İstek başarıyla gönderildi.');
                    },
                    error: function (xhr, status, error) {
                        console.error('İstek gönderilirken bir hata oluştu:', error);
                    }
                });
            });

            $('.viewAll').on('click', function () {
                var accessToken = localStorage.getItem('accessToken');
                var educationId = $(this).data('id'); 
                $.ajax({
                    url: 'https://localhost:7145/api/EducationContent/GetEducationContent?id=' + educationId,
                    type: 'GET',  
                    headers: {
                        'Authorization': 'Bearer ' + accessToken
                    },
                    contentType: 'application/json',
                    success: function (response) { 
                        window.open("https://localhost:7145/" + response.contentPath, "_blank");

                        console.log('İstek başarıyla gönderildi.');
                    },
                    error: function (xhr, status, error) {
                        console.error('İstek gönderilirken bir hata oluştu:', error);
                    }
                });
            });
        });


    </script>

}